alembic==1.7.3
beautifulsoup4==4.10.0
blinker==1.4
dataclasses==0.6
dateparser==1.0.0
flask==2.0.1
flask_api==3.0.post1
Flask-BS4==5.0.0.1
Flask-WTF
GitHub-Flask==3.2.0
jsonschema==3.2.0
Jinja2==3.0.1
lxml==4.6.3
pyyaml==5.4.1
requests==2.26.0
sentry-sdk==1.4.1
sqlalchemy==1.4.25
sqlalchemy-pagination==0.0.2
uwsgi==2.0.19.1
uwsgidecorators==1.1.0
Werkzeug==2.0.1
WTForms==2.3.3
